.beschreibung {
  height: 95vh;
  width: 100%;
}

.beschreibung-main {
  color: var(--color-dark);
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  line-height: 30px;
}

.beschreibung-title {
  font-size: 1.5em;
  text-align: center;
  padding: 60px 0;
}

.beschreibung-title_span {
  background: var(--color-dark);
  color: var(--color-light);
  padding: 0.5rem 2rem;
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
}

.beschreibung-teil {
  font-size: 1.2em;
}

.beschreibung-text {
  padding: 0 50px 30px 50px;
  text-align: justify;
  font-size: 1.2em;
  letter-spacing: normal;
}

.beschreibung-subtitle {
  padding-left: 80px;
}

.beschreibung-teil_ol {
  padding: 0 0 30px 120px;
}
