.kontakt {
  height: 95vh;
  width: 100%;
}

.kontakt-info {
  color: var(--color-dark);
  font-family: "Open Sans", sans-serif;
}

.kontakt-title {
  font-size: 1.5em;
  text-align: center;
  padding: 60px 0;
}

.kontakt-title_span {
  background: var(--color-dark);
  color: var(--color-light);
  padding: 0.5rem 2rem;
  clip-path: polygon(4% 0, 100% 0, 96% 100%, 0 100%);
}

.kontakt-text {
  font-size: 1.2em;
  text-align: justify;
  line-height: 30px;
  letter-spacing: normal;
  margin: 0 50px;
}

.kontakt-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.kontakt-main {
  display: grid;
  grid-column-gap: 180px;
  grid-template-columns: auto auto auto;
  flex-direction: row;
}

.kontakt-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  box-shadow: 0px 0px 18px 0px #0000002c;
  border-radius: 8px;
  height: 250px;
  width: 220px;
}

.kontakt-icon {
  width: 60px;
  height: 60px;
  color: var(--color-dark);
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 22px;
  margin-bottom: 30px;
  border: 1px solid var(--color-dark);
}

.kontakt-data {
  display: flex;
  font-size: 16px;
  color: var(--color-dark);
  flex-direction: column;
  font-weight: 300px;
  line-height: 30px;
  letter-spacing: normal;
}

.kontakt-h3 {
  font-weight: 500px;
  color: --var(--color-dark);
  font-size: 1.3em;
  padding-bottom: 8px;
}

.kontakt-p {
  font-size: 1.1em;
}

.mail {
  color: var(--color-dark);
  text-decoration: none;
}

.mail:hover {
  color: var(--color-red);
}
