@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

:root {
  --color-dark: #1d3557;
  --color-light: #f1faee;
  --color-light-medium: #a8dadc;
  --color-medium: #457b9d;
  --color-red: #e63946;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
}

.wrap {
  overflow: hidden;
  display: grid;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.logo {
  left: 2em;
  top: 2em;
  height: 100px;
  width: 100px;
  position: absolute;
  background-image: url("logo.png");
  background-size: cover;
}

.topBar {
  width: 100%;
  height: 5vh;
  background-color: var(--color-dark);
}

.start {
  height: 95vh;
  width: 100%;
  background: url("Krk_Baska_Strand_bicolor.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
}

.nav-main {
  width: 100%;
  top: 0;
  font-family: "Open Sans", sans-serif;
}

nav ul {
  display: flex;
  margin: 0;
  padding-right: 40px;
  float: right;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  font-size: 1em;
  display: block;
  color: var(--color-light);
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 55px;
}

.title_main {
  top: 5em;
  right: 0em;
  padding: 20px 65px 20px 40px;
  background-color: var(--color-red);
  line-height: 40px;
  letter-spacing: normal;
  position: absolute;
}

.content h3 {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  color: var(--color-light);
  font-size: 1.75em;
}

.content {
  height: 95vh;
  width: 100%;
  color: var(--color-dark);
  background-color: var(--color-light);
  font-family: "Open Sans", sans-serif;
}

/* Beschreibung */

#description h2{
  font-size: 1.5em;
  text-align: center;
  padding: 60px 0;
}

#description h2 span {
  background: var(--color-dark);
  color: var(--color-light);
  padding: 0.5rem 2rem;
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
}

#description p {
  padding: 0 50px 30px 50px;
  text-align: justify;
  font-size: 1.2em;
  letter-spacing: normal;
  line-height: 30px;
}

#description h3{
  padding-left: 80px;
  font-size: 1.3em;
  line-height: 30px;
}

#description ol {
  padding: 0 0 30px 120px;
  font-size: 1.2em;
  line-height: 30px;
}

/* Lage */

.krk-title_span {
  background: var(--color-dark);
  color: var(--color-light);
  padding: 0.5rem 2rem;
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
}

.krk-title {
  font-size: 1.5em;
  text-align: center;
  padding: 60px 0;
}

.krk-text {
  font-size: 1.2em;
  text-align: justify;
  line-height: 30px;
  letter-spacing: normal;
  margin: 0 50px;
}

.krk-map_main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.krk-map {
  position: relative;
  margin: 70px 200px 0 200px;
}

/* Fotos */

.fotos-title {
  font-size: 1.5em;
  text-align: center;
  padding: 60px 0 40px 0;
}

.fotos-title_span {
  background: var(--color-dark);
  color: var(--color-light);
  padding: 0.5rem 2rem;
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
}

.gallery {
  margin: 10px 50px;
  text-align: center;
}

.gallery-img {
  width: 400px;
  padding: 15px;
  transition: 1s;
}

.gallery-img:hover {
  transform: scale(1.05);
}

/* Kontakt */

.kontakt-title {
  font-size: 1.5em;
  text-align: center;
  padding: 60px 0;
}

.kontakt-title-span {
  background: var(--color-dark);
  color: var(--color-light);
  padding: 0.5rem 2rem;
  clip-path: polygon(4% 0, 100% 0, 96% 100%, 0 100%);
}

.kontakt-text {
  font-size: 1.2em;
  text-align: justify;
  line-height: 30px;
  letter-spacing: normal;
  margin: 0 50px;
}

.kontakt-main {
  display: grid;
  grid-column-gap: 180px;
  grid-template-columns: auto auto auto;
  flex-direction: row;
  margin-top: 80px;
  justify-content: center;
  align-items: center;
}

.kontakt-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  box-shadow: 0px 0px 18px 0px #0000002c;
  border-radius: 8px;
  height: 250px;
  width: 220px;
}

.kontakt-icon {
  width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 22px;
  margin-bottom: 30px;
  border: 1px solid var(--color-dark);
}

.kontakt-data {
  display: flex;
  font-size: 16px;
  flex-direction: column;
  font-weight: 300px;
  line-height: 30px;
  letter-spacing: normal;
}

.kontakt-h3 {
  font-weight: 500px;
  font-size: 1.3em;
  padding-bottom: 8px;
}

.kontakt-p {
  font-size: 1.1em;
}

.mail {
  color: var(--color-dark);
  text-decoration: none;
}

.mail:hover {
  color: var(--color-red);
}
