@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

:root {
  --color-dark: #1d3557;
  --color-light: #f1faee;
  --color-light-medium: #a8dadc;
  --color-medium: #457b9d;
  --color-red: #e63946;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --color-dark: #1d3557;
  --color-light: #f1faee;
  --color-light-medium: #a8dadc;
  --color-medium: #457b9d;
  --color-red: #e63946;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
}
